@import "./components/EditorForm.scss";

.message-editor {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 15px;
    }
}