@import "./components/User.scss";
@import "./components/UsersList.scss";

.users {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-bottom: 15px;
    }
}

.users-title {
    color: #539BF7;
    text-shadow: 0 0 1px #1b549e;
}