.own-message {
    display: flex;
    justify-content: flex-end;

    width: 85%;
}

.own-message-body {
    display: flex;
    flex-direction: column;

    padding: 12px;

    background-color: #539BF7;
    border-radius: 12px 0 12px 12px;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

    color: #fff;

    &__header {
        margin-bottom: 6px;
    }
}

.own-message-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__time {
        margin-right: 10px;
        margin-left: 20px;
    }
}

.own-message-heart {
    & svg {
        cursor: auto;

        float: left;
        clear: left;
    }
}

.own-message-actions {
    display: flex;

    &__edit {
        margin-right: 7px;
    }
}

.own-message-icon {
    width: 14px;
    height: 14px;

    fill: #f1f1f1;
    filter: drop-shadow( 0px 0px 2px rgba(89, 133, 190, 0.5));

    cursor: pointer;
}