.button {
    width: 70px;
    padding: 4px 0;

    border-radius: 4px;
    background-color: #539BF7;
    border: 1px solid #4187e4;
    box-shadow: 0 1px 3px -1px #539BF7;

    color: rgb(245, 244, 244);
    cursor: pointer;
    transition: background-color .08s ease;

    &:hover {
        background-color: #438ff3;
    }

    &:focus {
        background-color: #3485f0;
    }
}