.label {
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
}

.input {
    height: 27px;
    width: 100%;

    padding: 0 8px;

    border-radius: 4px;
    background-color: transparent;
    border-bottom: 2px solid #dbdbdb;
    box-shadow: 0 3px 2px -5px #F2F2F2;

    font-size: 15px;
    color: #111;

    &:focus {
        border-bottom: 2px solid #c4c4c4;
    }
}