.navigation {
    display: flex;
    padding: 10px 0;

    &__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.navigation-item {
    list-style: none;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #000;
    }
}