.users-list {
    max-width: 475px;
    width: 100%;

    padding: 12px 12px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F2F2F2;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 4px 1px -1px #539BF7;

    &__user {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}