.user {
    width: 100%;

    height: 45px;
    display: grid;

    grid-template-columns: 215px 80px 65px 15px 15px;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
}

.user-id {
    justify-self: flex-start;
    opacity: .65;
}

.user-avatar {
    height: 45px;
    width: 45px;

    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    
    overflow: hidden;
}

.user-action {
    cursor: pointer;
}

.user-action-icon {
    fill: #000;
    opacity: .4;
    transition: opacity .08s ease;

    &:hover {
        opacity: .6;
    }

    &_edit {
        height: 13px;
    }

    &_delete {
        height: 14px;
    }
}