@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import "./normalize.scss";

@import "./components/index.scss";

@import "./chat/Chat.scss";
@import "./auth/Auth.scss";
@import "./messageEditor/MessageEditor.scss";
@import "./users/Users.scss";
@import "./userEditor/UserEditor.scss";

.app {
    position: absolute;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.close {
    position: relative;
    cursor: pointer;

    width: 14px;
    height: 14px;

    &:before, &:after {
        content: "";

        display: block;

        width: 2px;
        height: 100%;

        position: absolute;

        background-color: #666;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}