@import "./components/Header.scss";
@import "./components/Message.scss";
@import "./components/MessageInput.scss";
@import "./components/MessageList.scss";
@import "./components/OwnMessage.scss";
@import "./components/EditModal.scss";

.chat {   
    max-width: 660px;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 8px;
    border: 2px solid #a9bbd1;
    overflow: hidden;

    &__own-message {
        margin-left: auto;
    }

    &__message {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}